$spacing: 8px;

@mixin card {
	border-radius: 8px;
	background-color: var(--paper);
	box-shadow: var(--shadow);
}
@mixin button {
	background-color: var(--primary);
	border: 'none';
	padding: 8 * 1px;
	padding-left: 8 * 2px;
	padding-right: 8 * 2px;
}
